<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMetaAutomationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- This is Web.config defined in MetaAutomationService -->
      <endpoint address="http://CLIENTMACHINE1:80/MetaAutomationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaAutomationService"
          contract="IMetaAutomationService" name="CLIENTMACHINE1" />
      <endpoint address="http://CLIENTMACHINE2:80/MetaAutomationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaAutomationService"
          contract="IMetaAutomationService" name="CLIENTMACHINE2" />
      <endpoint address="http://CLIENTMACHINE3:80/MetaAutomationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaAutomationService"
          contract="IMetaAutomationService" name="CLIENTMACHINE3" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
