<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMetaAutomationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- This is app.config defined in CheckProcess.exe -->
      <endpoint address="http://CLIENTMACHINE1:80/MetaAutomationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaAutomationService"
          contract="IMetaAutomationService" name="CLIENTMACHINE1" />
      <endpoint address="http://CLIENTMACHINE2:80/MetaAutomationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaAutomationService"
          contract="IMetaAutomationService" name="CLIENTMACHINE2" />
      <endpoint address="http://CLIENTMACHINE3:80/MetaAutomationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetaAutomationService"
          contract="IMetaAutomationService" name="CLIENTMACHINE3" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>